/Estimator/bin/Debug/net9.0/Microsoft.AspNetCore.JsonPatch.dll
/Estimator/bin/Debug/net9.0/Newtonsoft.Json.Bson.dll
/Estimator/bin/Debug/net9.0/Newtonsoft.Json.dll
/Estimator/bin/Debug/net9.0/PagedList.dll
/Estimator/bin/Debug/net9.0/PagedList.Mvc.dll
