@using Estimator.Domain.Enums
@using Estimator.Models.Shared.DataTables
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Estimator.Models.EstimateForming.EstimateFormingSearchModel
<form id="searchForm">
        <div class="row mt-3">
                <div class="col-md-1">
                        <input type="text" asp-for="ItemCode" class="form form-control" placeholder="Код" id="ItemCode">
                </div>
                <div class="col-md-2">
                        <input type="text" asp-for="ItemName" class="form form-control" placeholder="Наименование позиции" id="ItemName">
                </div>
                <div class="col-md-2">
                        <select asp-for="CategoryId" class="form form-select" id="CategoryId">
                                @{
                                        foreach (var category in Model.AvailableCategories)
                                        {
                                                <option value="@category.Value">@category.Text</option>
                                        }
                                }
                        </select>
                </div>
                <div class="col-md-2">
                        <select asp-for="ItemTypeId" class="form form-select" id="ItemTypeId">
                                @{
                                        foreach (var itemType in Model.AvailableItemTypes)
                                        {
                                                <option value="@itemType.Value">@itemType.Text</option>
                                        }
                                }
                        </select>
                </div>
                <div class="row m-3">
                        <div class="col-md-4 offset-4">
                                <button class="btn btn-primary" type="submit" id="searchItemBtn">Найти</button>
                        </div>
                </div>


        </div>
</form>

<div class="accordion" id="accordionExample">
        <div class="accordion-item">
                <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                ФУЛ
                        </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                                @await Component.InvokeAsync("DataTable", new DataTableModel
                                {
                                        Name = "ful-table",
                                        Url = Url.Action("EstimateForming", "Home", new { tarifficatorType = TarifficatorType.FUL }),
                                        Length = Model.PageSize,
                                        SearchButtonId = "searchItemBtn",
                                        Searching = true,
                                        SearchFieldNames = new List<string>
                                        {
                                                nameof(Model.ItemName),
                                                nameof(Model.CategoryId),
                                                nameof(Model.SubCategoryId),
                                                nameof(Model.CurrencyId),
                                                nameof(Model.MeasureTypeId),
                                                nameof(Model.ItemCode),
                                                nameof(Model.ItemTypeId),
                                        },
                                        Columns = new List<ColumnDefinition>
                                        {
                                                new ColumnDefinition()
                                                {
                                                        Title = "№",
                                                        Data = nameof(TarrificatorItemModel.ItemCode)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Раздел",
                                                        Data = nameof(TarrificatorItemModel.CategoryName)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Подраздел",
                                                        Data = nameof(TarrificatorItemModel.SubCategoryName)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Наименование",
                                                        Data = nameof(TarrificatorItemModel.Name)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Примечание",
                                                        Data = nameof(TarrificatorItemModel.Description)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Ед. изм.",
                                                        Data = nameof(TarrificatorItemModel.MeasureString)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Тип",
                                                        Data = nameof(TarrificatorItemModel.TarificatorItemTypeString)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Вал.",
                                                        Data = nameof(TarrificatorItemModel.CurrencyString)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Цена",
                                                        Data = nameof(TarrificatorItemModel.Price)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Количество",
                                                        Data = nameof(TarrificatorItemModel.Id),
                                                        Render = "renderQtyInput",
                                                        Orderable = false,
                                                        Searchable = false
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Модификатор (длинна в метрах)",
                                                        Data = nameof(TarrificatorItemModel.Id),
                                                        Render = "renderCustomRateInput",
                                                        Orderable = false,
                                                        Searchable = false
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Выбрать",
                                                        Data = nameof(TarrificatorItemModel.Id),
                                                        Render = "renderAddItemToEstimateButton",
                                                        Orderable = false,
                                                        Searchable = false
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Изменить",
                                                        Data = nameof(TarrificatorItemModel.Id),
                                                        Render = "renderEditItemButton",
                                                        Orderable = false,
                                                        Searchable = false
                                                },
                                        }
                                })
                        </div>
                </div>
        </div>
        <div class="accordion-item">
                <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                КТО
                        </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                                @await Component.InvokeAsync("DataTable", new DataTableModel
                                {
                                        Name = "kto-table",
                                        Url = Url.Action("EstimateForming","Home",new{tarifficatorType=TarifficatorType.KTO}),
                                        Length = Model.PageSize,
                                        SearchButtonId="searchItemBtn",
                                        Searching = true,
                                        SearchFieldNames = new List<string>
                                        {
                                                nameof(Model.ItemName),
                                                nameof(Model.CategoryId),
                                                nameof(Model.SubCategoryId),
                                                nameof(Model.CurrencyId),
                                                nameof(Model.MeasureTypeId),
                                                nameof(Model.ItemCode),
                                                nameof(Model.ItemTypeId)
                                        },
                                        Columns = new List<ColumnDefinition>
                                        {

                                                new ColumnDefinition()
                                                {
                                                        Title = "№",
                                                        Data = nameof(TarrificatorItemModel.ItemCode)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Раздел",
                                                        Data = nameof(TarrificatorItemModel.CategoryName)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Подраздел",
                                                        Data = nameof(TarrificatorItemModel.SubCategoryName)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Наименование",
                                                        Data = nameof(TarrificatorItemModel.Name)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Примечание",
                                                        Data = nameof(TarrificatorItemModel.Description)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Ед. изм.",
                                                        Data = nameof(TarrificatorItemModel.MeasureString)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Тип",
                                                        Data = nameof(TarrificatorItemModel.TarificatorItemTypeString)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Вал.",
                                                        Data = nameof(TarrificatorItemModel.CurrencyString)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Цена",
                                                        Data = nameof(TarrificatorItemModel.Price)
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Количество",
                                                        Data = nameof(TarrificatorItemModel.Id),
                                                        Render = "renderQtyInput",
                                                        Orderable = false,
                                                        Searchable = false
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Модификатор (длинна в метрах)",
                                                        Data = nameof(TarrificatorItemModel.Id),
                                                        Render = "renderCustomRateInput",
                                                        Orderable = false,
                                                        Searchable = false
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Выбрать",
                                                        Data = nameof(TarrificatorItemModel.Id),
                                                        Render = "renderAddItemToEstimateButton",
                                                        Orderable = false,
                                                        Searchable = false
                                                },
                                                new ColumnDefinition()
                                                {
                                                        Title = "Изменить",
                                                        Data = nameof(TarrificatorItemModel.Id),
                                                        Render = "renderEditItemButton",
                                                        Orderable = false,
                                                        Searchable = false
                                                },
                                        }
                                })
                        </div>
                </div>
        </div>
</div>
<script>
        $(document).ready(function () {
                $('.page-link').each(function (){
                        $(this).click(function (event){
                                event.preventDefault()
                        })
                })
                $('#searchItemBtn').click(function (){
                        var table = $('#ful-table').DataTable();
                        if (table) {
                                table.ajax.reload();
                        }
                })
                $('#searchForm').submit(function(event) {
                        event.preventDefault(); // Предотвратить стандартное действие (отправку формы)
                        var table = $('#ful-table').DataTable();
                        if (table) {
                                table.ajax.reload();
                        }

                });
        })
</script>