@{
    ViewData["Title"] = "Home Page";
}

<div id="loadingBlock" style="position: absolute;width: 100%;height: 100%; z-index: 9999;background-color: #ffffffcd;display: none; top: 0;left: 0;text-align: center">
    <img src="css/images/loading.gif" alt="loading" style="position: sticky;top: 45%">
</div>
<div class="text-center">
    <input type="file" accept=".xlsx" id="tariffFile">
    <input type="checkbox" id="isFul" onclick="switchTarifficatorType()">
    <p id="tarifficatorType">ФУЛ</p>
    <button class="btn btn-primary" type="button" id="downloadBtn">download</button>
</div>

<a href="@Url.Action("EstimateForming")" class="btn btn-primary">Estimate Forming</a>